<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" hre="public\stylesheet\style.css">
    
    <script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
  </head>
  <body  class="p-3 mb-2 bg-secondary text-white">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav" >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projectEJS">PROJECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="serviceEJS">SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactEJS">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutEJS">ABOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="body">
      <section>
      <aside class="image">
        <img src="public\images\icon.jpg" style="width:250px; height:300px; float:right; " alt="error">
      </aside>
      <article id="writting">
        <h4>ABOUT ME</h4>
          <p class="centered-element">
            “I am really proud of how we played for six months,” Baltimore manager Brandon Hyde said. “We didn't play our best baseball game
            today, unfortunately, in the last game in front of the home fans. How well we played this year, home and away, is definitely 
            something to be proud of.”
            Houck (6-10) did not allow a hit until Anthony Santander singled up the middle with two outs in the sixth. Houck had six strikeouts
            and three walks on 87 pitches.
            Boston finished 78-84, the same record as last year.
            The Red Sox were mourning former pitcher Tim Wakefield, who died at the age of 57.
            “The game is secondary. Tough day for us,” Boston manager Alex Cora said. “We lost a brother, a teammate, a 
            family member. Like I was telling the guys, this guy is one of the best teammates I ever had. This guy was there for 
            us all the time. He was accountable. He was what a Boston Red Sox should look like.”
          </p>
        </article>
      </section>
    </div>
    <footer id="footer">
        <h6>  &copy; C O P Y R I G H T 2 0 2 2 R E A L S T A T E - A L L R E S E R V E D.</h6>
    </footer>
  </body>
</html>