<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <nav>
    <ol>
        <li>
            <a href="homeEJS">HOME</a>
            <a href="projectEJS">PROJECT</a>
            <a href="serviceEJS">SERVICE</a>
            <a href="aboutEJS">ABOUT</a>
            <a href="contactEJS">CONTACT</a>

        </li>
    </ol>
    </nav>
    <h1>Hello, world!</h1>
  </body>
</html>