<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    
    <script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
  </head>
  <body class="p-3 mb-2 bg-secondary text-white">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projectEJS">PROJECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="serviceEJS">SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactEJS">CONTACT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutEJS">ABOUT ME</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr>
    <h4 style="font-weight: bold; text-align:center;  font-weight:20px;"> WISHIST PROJECTS</h4>

    <div class="container" style="padding:20px; border-radius:10px; justify-content:center;">
          <img src="public\images\project01.jpg" width="400px" height="400px" alt="demo" style="float: center;">
          <h5>PROJECT WITH JAVASCRIPT</h5>
          <p style="text-align: justify;">JavaScript (JS) is a lightweight interpreted (or just-in-time compiled) programming language with first-class functions.
             While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as
              Node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, single-threaded, dynamic language,
               supporting object-oriented, imperative, and declarative (e.g. functional programming) styles.</p>
    </div>
    <div class="container">
      <img src="public\images\project02.jpg" width="400px" height="400px" alt="demo">
    </div>
    <div>
      <img src="public\images\project03.jpg" width="400px" height="400px" alt="demo">
    </div>
  </body>
</html>