<!--
  File name: Project.ejs
  Student Name: Dikshya Sherma Limbu
  Student ID: 301273555
  Date: 2023-09-30
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="public\stylesheet\style.css">
    
    <script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
  </head>
  <body class="p-3 mb-2 bg-secondary text-white">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projectEJS">PROJECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="serviceEJS">SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactEJS">CONTACT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutEJS">ABOUT ME</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr>
    <h2> WISHIST PROJECTS</h2>

    <div class="project-container" >
          <h4> I miss my home website</h4>
          <img src="public\images\project-01.jpg" width="400px" height="200px" alt="demo" style="float: center;">
          <p >Since, I have been missing my home country a little bit more these days.<br>
            I want to create one website where i can search for country and it gives us the local, popular, <br>
            and vintage song.</p>
            <select id="role-dropdown">
              <option value="">Role</option>
              <option value="one">get the input from the user</option>
            </select>
            <select id="role-dropdown">
              <option value="">Outcome</option>
              <option value="one">music as user's input</option>
            </select>
            
    </div>
    <div class="project-container">
      <h4>E-commerce website</h4>
      <img src="public\images\project-02.jpg" width="400px" height="200px" alt="demo" style="float:center;">
      <p>
        I am working on a project of e-commer website . <br>
        It has a features to buy, sell, rent, etc.
      </p>
      <select id="role-dropdown">
        <option value="">Role</option>
        <option value="one">get the input from the user</option>
      </select>
      <select id="role-dropdown">
        <option value="">Outcome</option>
        <option value="one">provide the output as per user input</option>
      </select>
    </div>
    <div class="project-container">
      <div>
        <h4>Game app </h4>
        <img src="public\images\project-03.jpg" width="400px" height="200px" alt="demo"> 
        <p>
          I want to create a game app which is probably offline  and online both so that <br>
          people can even play whenever they travel by underground subway.<br>
          The app will contain multiply games. 
        </p>
        <select id="role-dropdown">
          <option value="">Role</option>
          <option value="one">choose any game option</option>
        </select>
        <select id="role-dropdown">
          <option value="">Outcome</option>
          <option value="one">start the entered game</option>
        </select>
        
      </div>
    </div>
    <footer class="container-fluid" >
      <div style="background-color:rgb(68, 65, 65);">
        <h2>REFERENCE</h2>
        <h6 style="text-align:center; color:aliceblue; font-family:Georgia, 'Times New Roman', Times, serif; font-size:x-small;">  &copy; C O P Y R I G H T 2 0 2 2 R E A L S T A T E - A L L R E S E R V E D.</h6>
      </div>
    </footer>
    
  </body>
</html>