<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    
    <script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
  </head>
  <body class="p-3 mb-2 bg-secondary text-white">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav" style="text-align: center; display:inline-block;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projectEJS">PROJECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="serviceEJS">SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactEJS">CONTACT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutEJS">ABOUT ME</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h2 style="font-family:Georgia, 'Times New Roman', Times, serif; color:aliceblue; font-weight:20px; text-align:center;">SERVICES</h2> 
    <hr>
      <div class="container-fluid">
        <div class="row" style="background-color: #708090;">
            <div class="col-12 text-center align-self-center">
                <p>As a web developer, I specialize in crafting dynamic and user-centric
                   online experiences. With a keen eye for design and a robust technical skill set,
                    I create responsive websites and web applications that seamlessly blend form and 
                    function. Whether it's building from scratch, optimizing existing sites, or implementing
                    cutting-edge technologies, my goal is to deliver solutions that not only meet but 
                    exceed client expectations.</p>
            </div>
        </div>
          </div>
      </div>

    <div class="container">
      <div class="row justify-content-center gx-5">
        <div class="col p-3 "> 
          <h4 style="font-weight: bold; text-align:center;  font-weight:20px;">MOBILE APP</h4>
          <img src="public\images\mobile_app.jpg" width="400px" height="400px" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:0; " >
          <ul style="font-size:small;">
              <li >Creating custom mobile applications for iOS and Android platforms.</li>
              <li>Building web-based applications accessible from various browsers.</li>
              <li>Ensuring your apps are bug-free and perform optimally.</li>
          </ul>
         
        </div>
        <div class="col p-3 ">
          <h4 style="font-weight: bold; text-align:center;  font-weight:20px;">VIDEO EDITING</h4>
            <img src="public\images\video_edit.jpg" width="400px" height="400px">
            <ul style="font-size:small;">
              <li>Editing raw footage into cohesive and engaging videos.</li>
              <li> Adding smooth transitions between video clips.</li>
              <li>Enhancing video quality and aesthetics.</li>

            </ul>
        </div>
        <div class="col p-3 ">
          <h4 style="font-weight: bold; text-align:center;  font-weight:20px;">GAME APP</h4>
          <img src="public\images\game_app.jpg" width="400px" height="400px">
          <ul style="font-size:small">
            <li>Creating games in 2D or 3D environments.</li>
            <li> Designing game assets, characters, and animations.</li>
            <li>Writing code for gameplay, physics, and game mechanics.</li>
          </ul>

        </div>
      </div>
    </div>
    <footer>
      <div class="container-fluid" style="background-color:rgb(68, 65, 65);">
        <h2 style="text-align:center; color:aliceblue; font-family:Georgia, 'Times New Roman', Times, serif;">REFERENCE</h2>
        <h6 style="text-align:center; color:aliceblue; font-family:Georgia, 'Times New Roman', Times, serif; font-size:x-small;">  &copy; C O P Y R I G H T 2 0 2 2 R E A L S T A T E - A L L R E S E R V E D.</h6>
      </div>
    </footer>
  </body>
</html>